<!DOCTYPE html>
<html>
<head>

<title>My Angular App</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
</head>
<body ng-app="myapp">

<div ng-controller="HelloController">

<h2>Welcome {{helloTo.title}} to the world of Tutorialpoint.</h2>

</div>

<div ng-init="countries=[{locale:'en-US',name:'United States'},{locale:'en-GB',name:'United Kingdom'},
			 {locale:'en-FR',name:'France'}]">
<p>List of Countries with locale:</p>
<ol>
	<li ng-repeat="country in countries">
	{{'Country: '+country.name+' ,Locale: '+ country.locale}}	

	</li>
</ol>
</div>
<div>
<label>Name:</label>

<input type="text" ng-model="yourName" placeholder="Enter a name here"/>
<p>Hello <span ng-bind="name"></span>!</p>
<hr/>

<h1>Hello {{yourName}}</h1>
</div>
<!--
<div ng-app="mainApp" ng-controller="studentController">
Enter first name:<input type="text" ng-model="student.firstName"/><br><br>
Enter last name:<input type="text" ng-model="student.lastName"/><br><br>
You are entering:{{student.fullName()}}

</div>
-->
<script>

angular.module("myapp",[])

.controller('HelloController',function($scope){
	$scope.helloTo={};
	$scope.helloTo.title="AngularJS";

});
//comment



</script>

</body>
</html>